* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Andada Pro', serif;
}

article.article {
  transition: transform 0.2s;
  cursor: pointer;
}

article.article:hover {
  transform: scale(1.05);
}

.pagination-buttons a {
  transition: transform 0.2s;
}

.pagination-buttons a:hover {
  transform: scale(1.3);
}
